{{title}}
<button (click)="printUnpairedBTLEDevices()">Scan for BTLE Devices</button>

<div *ngIf="haveDevice">
  <h2>Device Paired:</h2>
  <ul>
    <li>
      Name: {{deviceData.name}}
    </li>
    <li>
      ID: {{deviceData.id}}
    </li>
    <li>
      Battery Level: {{deviceData.batteryLevel ?? "???"}}
    </li>
    <li>
      Channel A: {{deviceData.channelA ?? "???"}}
    </li>
    <li>
      Channel B: {{deviceData.channelB ?? "???"}}
    </li>
    <li>
      maxPower: {{deviceData.maxPower ?? "???"}}
    </li>
    <li>
      powerStep: {{deviceData.powerStep ?? "???"}}
    </li>
  </ul>
  <br><br>
  
  <div>
    <label for="inputValue">A Strength (0-2047):</label>
    <input id="inputValue" type="number" [(ngModel)]="channelAInput" min="0" max="2047">
    <button (click)="sendAChannelStrength()">Send A Value</button>
  </div>
  <br><br>
  <div>
    <label for="inputValue">B Strength (0-2047):</label>
    <input id="inputValue" type="number" [(ngModel)]="channelBInput" min="0" max="2047">
    <button (click)="sendBChannelStrength()">Send B Value</button>
  </div>
  <br><br>
  <button (click)="startSendingWaveform()">Start Sending</button>
</div>
